/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('assets/fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('assets/fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
ul,
ol,
li {
    list-style: none;
}
* {
    margin: 0px ;
    padding: 0px;
}
body {
    /* Позиционирование */
     /* position: absolute; */

     /* Блочная модель */
    display: block; 
     /* Типографика */
    font-family: 'Roboto';
    font-size: 18px;
    color: #202020;

    /* Оформление */
    background-color: #f1f1f1;
}
.container {
   
    display: inherit;
    /*border: 3px solid red ;  Не забыть убрать*/
    max-width: 1440px;
    min-height: 900px;
    margin: 0 auto;
    background-color: #f1f1f1; ;
    /* border: solid 1px black; */
}

/* ОФОРМЛЯЕМ HEADER*/
.header {
  width: 100%;
  flex-basis: 90%; 
}


    /* =========ОФОРМЛЯЕМ NAVBAR*========*/
.navbar {
   font-size: 23px;
   background-color: white;
   text-transform: uppercase;
   padding: 10px 0px; 
}

.nav-menu {
 display: flex;
 justify-content: center;
 gap: 5%;
}
.nav-item {
    
}
.nav-item a{
    text-decoration: none;
    color: black;
    transition: 1s;
}
.nav-item a:hover {
    color: red;
}
/*==================================*/
/*ОФОРМЛЯЕМ MAIN*/

.avatar{
    width: 200px;
    border-radius: 28px; 
    box-shadow: 4px 4px 14px rgb(141, 138, 138);
}
.info {
    display: flex; 
    margin-bottom: 20px; 
    padding-top: 10px;
}


.info-text {
    margin-left: 40px;
}
.info-text h4 {
    margin-left: 0px; 
}

.info p{  
margin: 0%; 
font-style: italic; 
font-weight: bold; 
}

.card {
  padding: 15px 20px; 
  margin-bottom: 20px;
  border-radius: 20px; 
  background: #e5ffe7;
}

.card h2{
    margin-bottom: 10px; 
    text-align: center;
}
