/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('assets/fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('assets/fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
ul,
ol,
li {
    list-style: none;
}
* {
    margin: 0px ;
    padding: 0px;
}
body {
    /* Позиционирование */
     /* position: absolute; */

     /* Блочная модель */
    display: block; 
     /* Типографика */
    font-family: 'Roboto';
    font-size: 18px;
    color: #202020;

    /* Оформление */
    background-color: #f5f5f5;
}
.container {
   
    display: inherit;
    /*border: 3px solid red ;  Не забыть убрать*/
    max-width: 1440px;
    min-height: 900px;
    margin: 0 auto;
    background-color: white ;
    border: solid 1px black;
}

/* ОФОРМЛЯЕМ HEADER*/
.header {
  width: 100%;
  flex-basis: 90%; 
}


    /* =========ОФОРМЛЯЕМ NAVBAR*========*/
.navbar {
   font-size: 23px;
   background-color: #fff9dc;
   text-transform: uppercase;
   padding: 10px 0px; 
}

.nav-menu {
 display: flex;
 justify-content: center;
 gap: 5%;
}
.nav-item {
    
}
.nav-item a{
    text-decoration: none;
    color: black;
    transition: 1s;
}
.nav-item a:hover {
    color: red;
}
/*==================================*/
/*ОФОРМЛЯЕМ MAIN*/
.main {
  
}
.section-left{
    float: left;
    width: 30%;
    min-height: 800px;
    background-color: #4d4d4d;;
}
.section-right {
    float: right;
    width: 70%;
    min-height: 800px;
background-color: white;
}

}
.footer {
}
